<!-- BLOG CARDS START -->
<div class="row">
    <div class="col-12 p-3 m-3">
        <h2 class="text-center"><b>Latest posts</b></h2>
    </div>
    <div class="col-4">
        <div class="card mb-3">
            <img src="https://via.placeholder.com/414x227" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Blog title</h5>
                <p class="card-text">Blog short description..</p>
                <p class="card-text"><small class="text-muted">Posted: 3 mins ago</small></p>
                <a href="blog-single.html" class="btn btn-primary stretched-link">Read more</a>
                <hr>
                <span class="pe-2">Tags:</span>
                <span class="badge bg-secondary">Pimcore</span>
                <span class="badge bg-secondary">Blog</span>
                <span class="badge bg-secondary">Example</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-3">
            <img src="https://via.placeholder.com/414x227" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Blog title</h5>
                <p class="card-text">Blog short description..</p>
                <p class="card-text"><small class="text-muted">Posted: 3 mins ago</small></p>
                <a href="blog-single.html" class="btn btn-primary stretched-link">Read more</a>
                <hr>
                <span class="pe-2">Tags:</span>
                <span class="badge bg-secondary">Pimcore</span>
                <span class="badge bg-secondary">Blog</span>
                <span class="badge bg-secondary">Example</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-3">
            <img src="https://via.placeholder.com/414x227" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Blog title</h5>
                <p class="card-text">Blog short description..</p>
                <p class="card-text"><small class="text-muted">Posted: 3 mins ago</small></p>
                <a href="blog-single.html" class="btn btn-primary stretched-link">Read more</a>
                <hr>
                <span class="pe-2">Tags:</span>
                <span class="badge bg-secondary">Pimcore</span>
                <span class="badge bg-secondary">Blog</span>
                <span class="badge bg-secondary">Example</span>
            </div>
        </div>
    </div>
</div>