{% set tabBlock = pimcore_block('tab-block', {'manual' : true, 'limit' : 9}).start() %}
{% set tabsNumber = [] %}

<nav class="space-between">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for i in tabBlock.iterator %}
            {% set uniqSet = 'navInternal' ~ uniqid() %}
            {% set tabsNumber = tabsNumber | merge([uniqSet]) %}
            {% do tabBlock.blockConstruct() %}
            {% do tabBlock.blockStart() %}
            <button class="nav-link {{ loop.first ? 'active' : '' }}"
                    id="nav-home-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#{{ uniqSet }}"
                    type="button"
                    role="tab"
                    aria-controls="{{ 'navInternal' }}"
                    aria-selected="true">
                {{ pimcore_input('tabs-title' ~ i, {
                    width: 150,
                }) }}
            </button>
            {% do tabBlock.blockEnd() %}
            {% do tabBlock.blockDestruct() %}
        {% endfor %}
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    {% if (tabsNumber | length) > (editmode ? 1 : 0) %}
        {% for tab in 0..(tabsNumber | length) - 1 %}
            <div class="tab-pane fade show {{ loop.first ? 'active' : '' }}"
                 id="{{ tabsNumber[tab] }}">
                {{ pimcore_wysiwyg("specialContent" ~ tab, {
                    "height": 200
                }) }}
            </div>
        {% endfor %}
    {% endif %}
</div>

