<footer id="copyright" class="clear">
    <p class="fl_left">{{ pimcore_input('copyright', { placeholder : "Copyright Field" }) }}<a href="#">Domain Name</a></p>
    <p class="fl_right">Posao kod <a href="https://www.asioso.com/ba/posao-kod-asioso" title="Zaposlite se kod nas">{{ pimcore_input('company', { placeholder : "Company Field" }) }}</a></p>
</footer>