{% set navigationStartNode = document.getProperty('navigation_root') %}
{% set mainNavigation = pimcore_build_nav({active: document, root: navigationStartNode}) %}
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
            <h3><a href="#">Company Logo</a></h3>
            <h5>HTML5 Website Template</h5>
        </div>
        <nav>
            <ul class="list-group">
                {% for navigation in mainNavigation %}
                    {% if navigation.isVisible() %}
                        <li><a href="{{ navigation.getHref() }}">{{ navigation.getLabel() }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <div class="my-breadcrumbs">
            {{ pimcore_render_nav(mainNavigation, 'breadcrumbs') }}
        </div>
    </header>
</div>