<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
            <h1><a href="#">Company Logo</a></h1>
            <h2>HTML5 Website Template</h2>
        </div>
        {% set navigationStartNode = document.getProperty('navigation_root') %}
        {% set mainNavigation = pimcore_build_nav({active: document, root: navigationStartNode}) %}
        <nav>
            <ul class="list-group">
                {% for navigation in mainNavigation %}
                    {% if navigation.isVisible() %}
                        <li><a href="{{ navigation.getHref() }}">{{ navigation.getLabel() }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </header>
</div>