{% if latestNews is defined and (latestNews | length > 0) %}
    <div class="container-fluid space-between">
        <div class="row-cols-auto">
            <h1 class="text-center mt-5 mb-5"><b>Latest News</b></h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-2">
                <form class="blog-search-form">
                    <input type="hidden" name="sortBy" value="" class="blog-sort-by-hidden">
                    <input type="hidden" name="sortBy" value="" class="blog-per-page-hidden">
                    <fieldset>
                        <legend>Filters</legend>
                        <div class="mb-3">
                            <label for="search" class="form-label">Search blog posts</label>
                            <input type="text" id="search" class="form-control" placeholder="Search blog posts">
                        </div>
                        <div class="mb-3">
                            <label for="categories" class="form-label">Select categories</label>
                            <select id="categories" class="form-select categories-select" name="categories[]" multiple>
                                <option>Category 1</option>
                                <option>Category 2</option>
                                <option>Category 3</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-8">
                <div class="row justify-content-end">
                    <div class="col-3 mb-3">
                        <label for="perPage" class="form-label">Per page</label>
                        <select id="perPage" class="form-select blog-per-page" name="perPage">
                            <option>9</option>
                            <option>18</option>
                            <option>36</option>
                        </select>
                    </div>
                    <div class="col-3 mb-3">
                        <label for="sortBy" class="form-label">Sort by</label>
                        <select id="sortBy" class="form-select blog-sort-by" name="sortBy">
                            <option>Latest</option>
                            <option>Oldest</option>
                        </select>
                    </div>
                </div>
                <!-- BLOG CARDS START -->
                <div class="row">
                    {% for news in latestNews %}
                        <div class="col-4">
                            <div class="card mb-3">
                                {{ (news.getCoverImage() is defined ? news.getCoverImage.getThumbnail('latestNews').getHtml() : '') | raw }}
                                <div class="card-body">
                                    <h5 class="card-title">{{ news.getTitle() is defined ? news.getTitle() : '' }}</h5>
                                    <p class="card-text">{{ news.getShortText() is defined ? news.getShortText() : '' }}</p>
                                    <p class="card-text"><small class="text-muted">Posted
                                            Date: {{ news.creationDate() | date("m/d/Y") }} </small></p>
                                    <p class="card-text"><small class="text-muted">Posted
                                            By: {{ news.author.getName() | capitalize }}</small></p>
                                    <a href="{{ news.generatedLink }}" class="btn btn-sm btn-primary stretched-link">Read
                                        more</a>
                                    <hr>
                                    <span class="pe-2">Categories:
                            {% if news.getCategories() is defined and (news.getCategories() | length > 0) %}
                                {% for category in news.getCategories() %}
                                    <span class="badge bg-secondary"> {{ category.getName() }}</span>
                                {% endfor %}
                            {% endif %}
                </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- BLOG CARDS END -->
               {% include '_partials/pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endif %}

