<div class="row space-between">
{{ pimcore_renderlet('product-listing', {
    "controller" : "App\\Controller\\ProductController::listingAction",
    "title" : "Drag an Product Folder Here To Make A List",
    "height" : 400
}) }}
</div>