{% set id = 'gallery-carousel' ~ uniqid() %}
{% set block = pimcore_block('gridblock', {'manual' : true, 'limit' : 9, reload:true}).start() %}
{% set slides = block.getCount() %}

<div id="{{ id }}" class="carousel slide mb-0 transition-duration: 5s space-between"
     data-bs-ride="carousel" {{ editmode ? 'data-bs-interval=1000000000' : '' }}>
    <div class="carousel-indicators">
        {% for i in 0..(slides - 1) %}
            <button type="button"
                    data-bs-target="#{{ id }}"
                    data-bs-slide-to="{{ i }}"
                    class="{{ loop.first ? 'active' }}">
            </button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for i in block.iterator %}
            {% do block.blockConstruct() %}
            <div class="carousel-item {{ id ~ '-' ~ i }} {{ loop.first ? 'active' }}">
                {% do block.blockStart() %}
                {{ pimcore_image('image' ~ i, {
                    thumbnail: 'galleryCarousel',
                    height: 450,
                    hidetext: true,
                }) }}
                <div class="container">
                    <div class="carousel-caption {{ pimcore_select('text_location' ~ i).getData() }}">
                        {% if editmode %}
                            {{ pimcore_select('text_location' ~ i, {
                                store: [
                                    ['text-center', "Text Center"],
                                    ['text-start', "Text Start"],
                                    ['text-end', "Text End"],
                                ],
                                defaultValue: "text-center",
                                reload: true
                            }) }}
                        {% endif %}
                        <h1>{{ pimcore_input("caption-title" ~ i) }}</h1>
                        <p class="hero-text"> {{ pimcore_textarea('caption-text' ~ i) }} </p>
                        <p>{{ pimcore_link('caption-link_' ~ i, { class: 'btn btn-lg btn-primary' }) }}</p>
                    </div>
                </div>
                {% do block.blockEnd() %}
            </div>
            {% do block.blockDestruct() %}
        {% endfor %}
        <button class="carousel-control-prev" type="button" data-bs-target="#{{ id }}"
                data-bs-slide="prev" {% if editmode %} style="top: 55px" {% endif %}>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#{{ id }}"
                data-bs-slide="next" {% if editmode %} style="top: 55px" {% endif %}>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% do block.end() %}
