<div class="row">
    {% if objects %}
        {% for object in objects %}
            {% if object is instanceof('\\Pimcore\\Model\\DataObject\\Product') %}
                <div class="col-4">
                    <div class="card mb-3">
                        {{ (object.getImage() is defined ? object.getImage().getThumbnail('ProductListing').getHtml() : '') | raw }}
                        <div class="card-body">
                            <h5 class="card-title">{{ object.getName() is defined ? object.getName() : '' }}</h5>
                            <p class="card-text">{{ object.getShortDescription() is defined ? object.getShortDescription() : '' }}</p>
                            <p class="card-text"><small class="text-muted">Posted
                                    Date: {{ object.getCreatedAt() | date("m/d/Y") }} </small></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
