{% extends 'layout/app.html.twig' %}

{% block nav %}
    {% if not editmode %}
        {% include 'include/navigation-section.html.twig' %}
    {% endif %}
{% endblock %}

{% block main %}
    {{
    pimcore_areablock('content', {
        allowed: ["latest-news"]
    })
    }}
{% endblock %}

{% block footer %}
    {% if not editmode %}
        {{ pimcore_inc(document.getProperty('footer')) }}
    {% endif %}
{% endblock %}