{% extends 'layout/app.html.twig' %}

{% block nav %}
    {% if not editmode %}
        {% include 'include/navigation-section.html.twig' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ latestNews.getTitle() }} <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">{{ latestNews.getShortText() }}.</p>
            </div>
            <div class="col-md-5">
                {{ (latestNews.getGallery().items[0].getImage() is defined ? latestNews.getGallery().items[0].getImage().getThumbnail('NewsPage').getHtml() : '') | raw }}
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                {{ (latestNews.getGallery().items[1].getImage() is defined ? latestNews.getGallery().items[1].getImage().getThumbnail('NewsPage').getHtml() : '') | raw }}
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                {{ (latestNews.getGallery().items[2].getImage() is defined ? latestNews.getGallery().items[2].getImage().getThumbnail('NewsPage').getHtml() : '') | raw }}
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
{% endblock %}

{% block footer %}
    {% if not editmode %}
        {{ pimcore_inc(document.getProperty('footer')) }}
    {% endif %}
{% endblock %}